body{
    margin: 0;
    font-family: monospace;
}

.slider{
    width: 1300px;
    max-width:100vw ;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 20px;

}
.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width:max-content;
    transition: 1s ease;
    border-radius: 20px;

}
.list img{
    width: 1300px;
    max-width: 100vw;
    height:100%;
    object-fit: cover ;
    border-radius: 20px;
}

.buttons{
    position: absolute;
    top:45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.buttons button{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.449);
    border-radius: 50%;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    font-size: 22px;
}
.buttons button:hover{
    background-color: rgba(255, 255, 255, 0.133);
}
.dots{
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    transition: 1s ease;
    background-color: #00000080; 
}
.dots li:hover{
    background-color: #fff;
    cursor: pointer;
}

.dots li.active{
    width: 30px;
    background-color: #fff;
    
}
